.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.home-page {
    width: 400px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.home-page h3 {
    position: relative;
    bottom: 20px;
    left: 8px;
    text-align: center;

}

.home-page label {
    display: block;
    margin-bottom: -30px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 18px;
}

.home-page input {
    width: 70%;
    padding: 10px;
    margin-left: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.home-page input:focus {
    border-color: #4CAF50;
    outline: none;
}

.home-page button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.home-page button:hover {
    background-color: #3e8e41;
}

.join-room-btn {
    float: left;
}

.create-btn {
    float: right;
}

.home-page ul {
    list-style: none;
    margin: 0 90px 20px;
    color: red;
}


.message-box {
    width: 700px;
    height: 650px;
    margin: 30px auto;
    /* Center the box */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.message-box h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #4c4c4c14;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.092);
    width: 45%;
    margin: 0 auto;
    padding: 10px;
    height: 30px;
    border-radius: 5px;
}

.active-mem {
    font-size: 16px;
    margin-bottom: 20px;
}

.messages {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.text {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

.text span {
    display: inline-block;
    margin-bottom: 5px;
    text-wrap: wrap;
    word-break: break-all;
}

.message-cnt {
    width: 60%;
}

.text strong {
    color: #333;
}

.text .muted {
    color: #999;
    font-size: 12px;
    float: right;
}

.inputs {
    margin-top: 10px;
}

.inputs input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.inputs input[type="text"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.inputs button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.inputs button:hover {
    background-color: #3e8e41;
}

#leave-btn {
    background-color: #f44336;
    color: white;
    margin-left: 15px;
}

#leave-btn:hover {
    background-color: #da1a00;
}